<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movies</title>
</head>
<body>
<h1>Movies</h1>
<div>
  <!-- ho nel model un attributo che si chiama movies e che contiene la lista di Movie -->
  <!--
  il th:each + th:text funzionano come il for each Java
  for(Movie m : fakeMovieList){
      // faccio qualcosa
      System.out.println(m.getTitle());
    }
  -->
  <ul>
    <li th:each="movie : ${movies}" th:text="${movie.getTitle()}"></li>
  </ul>
  <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>