<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Song Detail</title>
</head>
<body>
<h1>Song Detail</h1>
<!-- ho un attributo song che contiene l'oggetto Song -->
<div th:text="|Id: ${song.id}|"></div>
<div th:text="|Title: ${song.title}|"></div>
<div th:text="|Authors: ${song.author}|"></div>
<!-- link che torna alla lista -->
<div>
  <a th:href="@{/songs}">Back to list</a>
</div>
</body>
</html>